@model IEnumerable<testing.Models.Employee>
@{
    ViewBag.Title = "Home";
}

<h2>HOME</h2>
@{
    Common.Util.Models.Pager pgr = (Common.Util.Models.Pager)ViewBag.PagerReceived;
}
@using (Html.BeginForm(true))
{
    <table id ="DivData">

        <thead>
            <tr>
                <th>Name</th>  @*@pgr.SortByLink("Name", "EmpName")*@
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>

      
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                  
                    <td>@item.EmpName</td>
                    <td>@item.Email</td>
                    <td>@item.Role</td>
                  
                    <td><a href="@string.Format("/Account/Index?id={0}", @item.id)">Edit</a></td>
                    <td><a href="@string.Format("/Account/Delete?id={0}", @item.id)">Delete</a></td>
                    @*<td><a href="#" onclick="Delete(@item.id)">Delete</a></td>*@
                </tr>
            }
        </tbody>
         
    </table>
    
  

}
<script type="text/javascript" >
    function Delete(obj)
    {
        $.post("/Account/Delete?id=" + obj, function (data) {
            $("#DivData").html(data);

        });

    }
</script>
